<!DOCTYPE html>
<head>
    <title>Excel 处理助手</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" type="text/css" href="/static/webuploader/webuploader.css">
</head>

<body>
<div id="main">
    <div class="header">
        <div class="h_left">
            <div class="left_box">
                {foreach name="input" item="i"}
                    {$i['input_str']|raw}
                {/foreach}
                <div class="clear"></div>
            </div>
        </div>
        <div class="h_right">
            <form class="init_form" method="post">
                <input type="text" class="init_d" name="D" placeholder="所属医院（D）" >
                <input type="text" class="init_e" name="E" placeholder="医生（E）" >
                <div id="images">zip压缩包</div>
                <input class="init" id="init" type="button" value="初始化" />
                <div class="clear"></div>
            </form>
            <hr />
            <div class="tool">
                <div><label>当前序号 / 总行数</label>： <span class="current_row">-</span> / <span class="total_rows">-</span></div>
                <div><label>录入结束下载附件</label>： <a href="/down" target="_blank">附件下载</a></div>
            </div>
            <hr />
            <div class="logout">
                <a href="/logout">退出登陆</a>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="content">

    </div>
</div>

<!--<div class="loading"><img src="/static/img/loading.gif"></div>-->
<script src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/webuploader/webuploader.js"></script>
<script src="/static/js/jquery.form.js"></script>
<script src="/static/js/tool.js"></script>
<script src="/static/js/index.js"></script>
<script src="/static/js/callback.js"></script>
<script>
    var status = "0";       // 0：还未初始化，1：初始化结束，正在录制当中
    var lasted = "0";       // 0：不是最后当前一批未录入结束，1：当前一批已经录入结束
    var images = {};        // 存放的图片
    var totalRows = 0;      // 本次录入的总行数，等于图片总数量
    var currentRow = 1;     // 当前录入的行数
    var showIndex = 0;      // 当前填写表单的第几项
    var perSelWidth = 274;  // 表单选项每次滚动的距离
    var inputIndex = 0;     // 当前表单聚焦的input index
    $(function(){
        init();

        $(document).keydown(function(e){
            switch (e.keyCode) {
                case 38:        // 上
                    up_press();
                    break;
                case 40:        // 下
                    down_press();
                    break;
                case 37:        // 左
                    left_press();
                    break;
                case 39:        // 右
                    right_press();
                    break;
                case 32:        // space
                    set_focus_on('');
                    break;
                case 13:        // enter
                    $('.submit').click();
                    break;
                case 33:        // page up  向下移动
                    move_image(2);
                    break;
                case 34:        // page down  向上移动
                    move_image(1);
                    break;
                case 35:        // end  旋转图片
                    rotate_image(90);
                    break;
                default:
                //alert(e.keyCode);
            }
        });
        var uploader = WebUploader.create({
            swf: '/static/webuploader/Uploader.swf',
            server: '/upload',
            fileVal:'upload',
            pick: {multiple: false, id: '#images', innerHTML: '图片zip'},
            threads: 1,
            method: 'POST',
            auto: false,
            chunked: true,
            chunkSize: 30 * 1024 * 1024,
            resize: false,
            accept: {
                title: '压缩文件',
                extensions: 'zip',
                mimeTypes: '*'
            }
        });
        //当有文件添加进来的时候
        uploader.on('uploadBeforeSend', function (obj, data, headers) {
            // data.DelFilePath = parentObj.siblings(".upload-path").val();
            //  data.ItemCode = $("#txtItemCode").val();
            alert(444);
            // data.formData= { "name": name, "desc": desc};
        });
        // 文件上传过程中创建进度条实时显示。
        uploader.on('uploadProgress', function (file, percentage) {
            console.log(percentage, file);
            // 具体逻辑...
        });
        // 文件上传成功处理。
        uploader.on('uploadSuccess', function (file, response) {
            // 具体逻辑...
            console.log('upload success...\n');
        });
        // 文件上传失败处理。
        uploader.on('uploadError', function (file) {
            // 具体逻辑...
            console.log(file);
        });
        // 上传传完毕，不管成功失败都会调用该事件，主要用于关闭进度条
        uploader.on('uploadComplete', function (file) {
            // 具体逻辑...
        });
        $("#init").click(function(){
            uploader.upload();
        });
    });
    resize_reset_work_area_size();
    reset_work_area_size();
</script>
</body>
</html>